/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/img
/public
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.docker-compose.yml
composer.lock
package-lock.json
.DS_Store