.footer {
  position: absolute;
  padding-top: 29px;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: #09132E;
  a {
    line-height: 26px;
    font-size: 14px;
    color: inherit;
  }
  .bicolor {
    margin-top: 30px;
    width: 170px;
    height: 10px;
    span {
      display: block;
      float: left;
      height: 100%;
      &.azul {
        background: #0f69b4;
        width: 46%;
      }
      &.rojo {
        background: #EB3646;
        width: 54%;
      }
    }
  }
}
